body {
  background-color: white;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
}

main {
  flex: 1;
  padding: 60px 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-video {
  width: 70%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 4px 10px
}

.hero h2 {
  font-size: 26px;
  color: #1e3c72;
  margin-bottom: 15px;
}

.hero p {
  font-size: 16px;
  max-width: 650px;
  margin: 0 auto 30px;
  line-height: 1.5;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.cta-btn {
  background-color: #ff9900;
  color: #000;
  padding: 12px 25px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s;
}

.cta-btn:hover {
  background-color: #e67e22;
}

@media (max-width: 767px) {
  .small-video {
    width: 90%;
  }

  .hero h2 {
    font-size: 22px;
  }

  .hero p {
    font-size: 14px;
  }

  .cta-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}