* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  font-size: 25px;
  color: #1e3c72;
  margin-bottom: 20px;
}

.small-video {
  width: 1200px;
  height: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  padding-left: 19%;
}

.hero p {
  font-size: 15px;
  max-width: 600px;
  margin: 0 auto 30px;
}

.image {
  width: 150px;
  height: 200px;
  margin-bottom: 60px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.cta-btn {
  background-color: #ff9900;
  color: #000;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s;
}

.cta-btn:hover {
  background-color: #e67e22;
}
