* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  background: url(../assets/bg.png);
}

.logo {
  width: 300px;
  height: auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.user-menu{
    position:absolute;
    top:15px;
    right:20px;
    display:flex;
    align-items:center;
    gap:5px;
    z-index:999;
    font-family:Arial;
}
.user-icon{
    width:80px;
    height:80px;
    background:#000000;
    border-radius:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-size:16px;
    margin-top: 60px;
}

.user-menu{
    position:absolute;
    top:20px;
    right:25px;
    display:flex;
    align-items:center;
    gap:8px;
    z-index:999;
    font-family:Arial, sans-serif;
}

.user-icon{
    width:75px;
    height:75px;
    background:#000;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    border:2px solid #fff;
    cursor:pointer;
}

.user-icon img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:50%;
}

.user-menu .arrow{
    cursor:pointer;
    font-size:27px;
    color:#fff;
    user-select:none;
    transition:0.2s;
    margin-top: 70px;
}

.user-menu input{ 
  display:none; 
}

.dropdown{
    position:absolute;
    top:70px;
    right:0;
    width:120px;
    background:#ffffffe8;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    display:none;
    flex-direction:column;
    padding:8px 0;
    animation:fadeIn 0.2s ease-in-out;
    margin-top: 70px;
}

#toggle-menu:checked ~ .dropdown{
    display:flex;
}

.dropdown a{
    padding:12px 16px;
    text-decoration:none;
    font-size:16px;
    color:#222;
    transition:0.2s;
}

.dropdown a:hover{
    background:#f1f1f1;
}


nav {
  background: #0a74da;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 5px;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  background: #ff9900;
  color: #000;
}

footer {
  background: #1e3c72;
  color: white;
  text-align: center;
  padding: 25px 10px;
  font-size: 14px;
  color: #fff;
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.footer-container h3 {
  color: #ffcc00;
  margin-bottom: 8px;
  font-size: 15px;
}

.footer-container p,
.footer-container li {
  color: #f1f1f1;
  margin: 4px 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #ffcc00;
}

.footer-bottom {
  border-top: 1px solid white;
  padding-top: 8px;
  font-size: 13px;
  color: white;
}

.footer-bottom,
.footer-bottom p,
.footer-bottom span {
  color: white;
}

html, body {
  height: 100%;
  margin: 0;
}



@media (max-width: 767px) {
  header {
    justify-content: center;
  }

  .logo {
    width: 140px;
  }

  nav ul {
    flex-direction: column;
    gap: 8px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}